In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\irina\miniconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\irina\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\irina\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.2.3 pytz-2021.1

In [ ]:
import pandas as pd

In [4]:
#Task 1
data = pd.read_csv('C:\\Users\\Irina\\Documents\\Python_for_analytics\\Numpy_Pandas\\ml-25m\\ratings.csv')
data.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [23]:
highest_rating = data['movieId'][data.rating == 5].value_counts()

In [26]:
highest_rating.head(1)

318    39553
Name: movieId, dtype: int64

In [46]:
#Task 2
data_n = pd.read_csv('C:\\Users\\Irina\\Documents\\Материалы PYDA\\Numpy_Pandas\\10._Основы_pandas\\power.csv')
data_n.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [47]:
filtered_countries = data_n[(data_n['country'] == 'Latvia') | (data_n['country'] =='Lithuania') | (data_n['country'] =='Estonia')]
filtered_category = filtered_countries[(filtered_countries.category == 4) | (filtered_countries.category == 12) |(filtered_countries.category == 21)]
filtered_year = filtered_category[(filtered_category.year == 2005) |(filtered_category.year == 2006)|(filtered_category.year == 2007)|(filtered_category.year == 2008) | (filtered_category.year == 2009) | (filtered_category.year == 2010)]
filtered_year[filtered_year.quantity > 0].sum()

country     EstoniaEstoniaLithuaniaLithuaniaLithuaniaEston...
year                                                   696607
quantity                                             240580.0
category                                                 5943
dtype: object

In [53]:
#Task 3

page_url = 'https://fortrader.org/quotes'
data_html = pd.read_html(page_url, attrs = {'class': 'fx-menu__row clearfix'}, encoding='utf-8')
data_html[:5]

ImportError: lxml not found, please install it

In [52]:
!pip3 install lxml

Requirement already satisfied: lxml in c:\users\irina\miniconda3\lib\site-packages (4.6.3)